﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="mailing.aspx.cs" Inherits="LIVINGSAFE_SiteCallCenter.res.mailing" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <asp:Button runat="server" ID="btnEnviar" Text="ENVIAR" OnClick="btnEnviar_Click" />

    </div>
    </form>
</body>
</html>
