/* Capas LOGIN */
.body_login 	            { background-image:url('/images/fondo-login_Assim.jpg'); }
.logo_login 	            { background-image:url('/images/simbolo-livingsafe.png'); }

/* Botones y enlaces LOGIN */
.link_pielogin 			      { color:#ffffff; }
.link_pielogin:hover 	    { color:#ffffff; }
.login-btn 				        { background-color:#c87a34; color:#FFFFFF !important; }
.login-btn:hover 		      { background-color:#59417a; color:#FFFFFF !important; }
.btn_acceder              { color:#FFFFFF !important; }
.btn_acceder:hover        { color:#FFFFFF !important; }
.logo_login_pie 		      { background-image:url('/images/logos/logo_Assim_peq.png'); }
.logo_izq                 { background:url('/images/logos/logo_livingsafe.png') no-repeat; background-size:cover; }
.logo_dch                 { background:url('/images/logos/logo_Assim.png') no-repeat; background-size:cover; }

/* Botonera INTERIOR */
.botonera 				        { background-color:#c87a34 !important; color:#ffffff !important;}
.link_botonera 				    { color:#ffffff !important; background-color:#c87a34 !important;}
.link_botonera:hover	    { color:#ffffff !important; background-color:rgba(0, 0, 0, 0.1) !important;}
.link_editarperfil 			  { color:#ffffff !important; background-color:#c87a34 !important;}
.link_editarperfil:hover	{ color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.2) !important;}
.link_logout				      { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.3) !important; }
.link_logout:hover			  { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.6) !important;}


/* Imagen INTERIOR */
.img_principal 	          { background-image:url('/images/imagen_interior_Assim.jpg'); }

/* Botonera responsive */
.navbar-nav               { background-color:#c87a34 !important;}

/* Estilos interiores */
.txt_titulopagina 	      { color:#c87a34; }
.txt_titulopagina_med 	  { color:#c87a34; }
.lnk_newuser 		          { background-color:#c87a34; color:#ffffff; }
.lnk_newuser:hover	      { background-color:#59417a; color:#ffffff; }
.lnk_newuser_disabled     { background-color:#c87a34; color:#ffffff !important; }
.cabecera_grid		        { border-bottom:2px solid #c87a34; }
.franja_grid_par	        { background-color:#e1e1e1; }

/* ESTILOS NUEVO */
.txt_tituloseccion 		    { color:#c87a34;}
.portada_seccion1		      { background-color:#c87a34; }
.portada_seccion2			    { background-color:#c87a34; }
.lnk_vermas				        { border-color:#c87a34; border-style:solid; border-width:1px; color:#c87a34; }
.lnk_vermas:hover			    { border-color:#c87a34; border-style:solid; border-width:1px; background-color:#c87a34; color:#ffffff; }
.lnk_vermasblanco			    { border-color:#ffffff; border-style:solid; border-width:1px; color:#ffffff; }
.lnk_vermasblanco:hover		{ border-color:#ffffff; border-style:solid; border-width:1px; background-color:#ffffff; color:#c87a34; }
.boton_cuadro 				    { color:#ffffff; background-color:#c87a34;}
.boton_cuadro:hover 	    { color:#ffffff; background-color:#59417a;}
.lnk_editar				        { border-color:#c87a34; border-style:solid; border-width:1px; color:#c87a34; }
.lnk_editar:hover			    { border-color:#c87a34; border-style:solid; border-width:1px; background-color:#c87a34; color:#ffffff; }
.lnk_passchange				    { border-color:#c87a34; border-style:solid; border-width:1px; background-color:#c87a34; color:#ffffff; }
.lnk_passchange:hover	    { border-color:#59417a; border-style:solid; border-width:1px; background-color:#59417a; color:#ffffff; }
.lnk_botonazul   			    { border-color:#c87a34; border-style:solid; border-width:1px; background-color:#c87a34; color:#ffffff; }
.lnk_botonazul:hover		  { border-color:#59417a; border-style:solid; border-width:1px; background-color:#59417a; color:#ffffff; }

/* OPERADORES */
.lnk_editar_peq           { border-color:#c87a34; border-style:solid; border-width:1px; color:#c87a34; }
.lnk_editar_peq:hover     { border-color:#c87a34; border-style:solid; border-width:1px; background-color:#c87a34; color:#ffffff; }

/* CIRCLES */
.fa-file:before           { content: "\f15c"; color:#59417a; }

/* FICHA USUARIO */
.color_ficha_usuarios     { color:#c87a34; }