/* Capas LOGIN */
.body_login 	            { background-image:url('/images/fondo-login.jpg'); }
.logo_login 	            { background-image:url('/images/simbolo-livingsafe.png'); }

/* Botones y enlaces LOGIN */
.link_pielogin 			      { color:#ffffff; }
.link_pielogin:hover 	    { color:#ffffff; }
.login-btn 				        { background-color:#f0db58; }  
.login-btn:hover	        { background-color:#003387; } 
.btn_acceder              { color:#003387 !important; }
.btn_acceder:hover        { color:#f0db58 !important; }
.logo_login_pie 		      { background-image:url('/images/logos/logo_odia_peq.png'); }
.logo_izq                 { background:url('/images/logos/logo_livingsafe.png') no-repeat; background-size:cover; }
.logo_dch                 { background:url('/images/logos/logo_odia.png') no-repeat; background-size:cover; }

/* Botonera INTERIOR */
.botonera 					      { background-color:#f0db58 !important; color:#003387 !important; }
.link_botonera 				    { color:#003387 !important; background-color:#f0db58 !important; }
.link_botonera:hover		  { color:#f0db58 !important; background-color:#003387 !important; }
.link_editarperfil 			  { color:#003387 !important; background-color:#f0db58 !important; }
.link_editarperfil:hover	{ color:#f0db58 !important; background-color:#003387 !important; }
.link_logout				      { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.3) !important; }
.link_logout:hover			  { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.6) !important; }


/* Imagen INTERIOR */
.img_principal 	          { background-image:url(/images/imagen_interior.jpg); }

/* Botonera responsive */
.navbar-nav               { background-color:#f0db58;}

/* Estilos interiores */
.txt_titulopagina 	      { color:rgba(95, 168, 252, 1); }
.txt_titulopagina_med 	  { color:rgba(95, 168, 252, 1); }
.lnk_newuser 		          { background-color:#003387; color:#ffffff; }
.lnk_newuser:hover	      { background-color:rgba(41, 182, 255, 1); color:#ffffff; }
.lnk_newuser_disabled     { background-color:#003387; color:#f0db58 !important; }
.cabecera_grid		        { border-bottom:2px solid #0057b3; }
/*.franja_grid_par	        { background-color:#f0db58; }*/

/* ESTILOS NUEVO */
.txt_tituloseccion 		    { color:rgba(95, 168, 252, 1);}
.portada_seccion1				  { background-color:#003387; }
.portada_seccion2				  { background-color:#003387; }
.lnk_vermas						    { border-color:#003387; border-style:solid; border-width:1px; color:#003387; }
.lnk_vermas:hover				  { border-color:#003387; border-style:solid; border-width:1px; background-color:#003387; color:#f0db58; }
.lnk_vermasblanco				  { border-color:#f0db58; border-style:solid; border-width:1px; color:#f0db58; }
.lnk_vermasblanco:hover		{ border-color:#f0db58; border-style:solid; border-width:1px; background-color:#f0db58; color:#003387; }
.boton_cuadro 					  { color:#f0db58; background-color:#003387;}
.boton_cuadro:hover 			{ color:#003387; background-color:#f0db58;}
.lnk_editar						    { border-color:#003387; border-style:solid; border-width:1px; color:#003387; }
.lnk_editar:hover				  { border-color:#003387; border-style:solid; border-width:1px; background-color:#003387; color:#f0db58; }
.lnk_passchange			      { border-color:#003387; border-style:solid; border-width:1px; background-color:#003387; color:#f0db58; }
.lnk_passchange:hover			{ border-color:#003387; border-style:solid; border-width:1px; background-color:#ffffff; color:#003387; }
.lnk_botonazul   			    { border-color:#003387; border-style:solid; border-width:1px; background-color:#003387; color:#f0db58; }
.lnk_botonazul:hover		  { border-color:#fbec8c; border-style:solid; border-width:1px; background-color:#fbec8c; color:#f0db58; }

/* OPERADORES */
.lnk_editar_peq			      { border-color:#003387; border-style:solid; border-width:1px; color:#003387; }
.lnk_editar_peq:hover		  { border-color:#003387; border-style:solid; border-width:1px; background-color:#003387; color:#ffffff; }

/* CIRCLES */
.fa-file:before           { content: "\f15c"; color:#fbec8c; }

/* FICHA USUARIO */
.color_ficha_usuarios     { color:#003387; }