/* Capas LOGIN */
.body_login 	            { background-image:url('/images/fondo-login_razaoinfo.jpg'); }
.logo_login 	            { background-image:url('/images/simbolo-livingsafe.png'); }

/* Botones y enlaces LOGIN */
.link_pielogin 			      { color:#ffffff; }
.link_pielogin:hover 	    { color:#ffffff; }
.login-btn 				        { background-color:rgba(255,113,15, 1); color:#FFFFFF !important; }
.login-btn:hover 		      { background-color:rgba(255, 133, 49, 1); color:#FFFFFF !important; }
.btn_acceder              {  }
.btn_acceder:hover        {  }
.logo_login_pie 		      { background-image:url('/images/logos/logo_razaoinfo_peq.png'); }
.logo_izq                 { background:url('/images/logos/logo_livingsafe.png') no-repeat; background-size:cover; }
.logo_dch                 { background:url('/images/logos/logo_razaoinfo.png') no-repeat; background-size:cover; }

/* Botonera INTERIOR */
.botonera 					      { background-color:rgba(255,113,15, 1) !important; color:#ffffff !important;}
.link_botonera 				    { color:#ffffff !important;}
.link_botonera:hover		  { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.1) !important;}
.link_editarperfil 			  { color:#ffffff !important; background-color:rgba(255,113,15, 1) !important;}
.link_editarperfil:hover	{ color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.2) !important;}
.link_logout				      { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.3) !important; }
.link_logout:hover			  { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.6) !important;}


/* Imagen INTERIOR */
.img_principal 	          { background-image:url(/images/imagen_interior_razaoinfo.jpg); }

/* Botonera responsive */
.navbar-nav               { background-color:rgba(255,113,15, 1);}

/* Estilos interiores */
.txt_titulopagina 	      { color:rgba(255,113,15, 1); }
.txt_titulopagina_med 	  { color:rgba(255,113,15, 1); }
.lnk_newuser 		          { background-color:rgba(255,113,15, 1); color:#ffffff; }
.lnk_newuser:hover	      { background-color:rgba(255, 133, 49, 1); color:#ffffff; }
.lnk_newuser_disabled     { background-color:rgba(255,113,15, 1); color:#ffffff !important; }
.cabecera_grid		        { border-bottom:2px solid #0057b3; }
.franja_grid_par	        { background-color:rgba(255,113,15, 0.1); }

/* ESTILOS NUEVO */
.txt_tituloseccion 		    { color:rgba(255,113,15, 1);}
.portada_seccion1				  { background-color:rgba(255,113,15, 1); }
.portada_seccion2				  { background-color:rgba(255,113,15, 1); }
.lnk_vermas						    { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; color:#rgba(255,113,15, 1); }
.lnk_vermas:hover				  { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; background-color:rgba(255,113,15, 1); color:#ffffff; }
.lnk_vermasblanco				  { border-color:#ffffff; border-style:solid; border-width:1px; color:#ffffff; }
.lnk_vermasblanco:hover		{ border-color:#ffffff; border-style:solid; border-width:1px; background-color:#ffffff; color:#rgba(255,113,15, 1); }
.boton_cuadro 					  { color:#ffffff; background-color:rgba(255,113,15, 1);}
.boton_cuadro:hover 			{ color:#ffffff; background-color:rgba(255, 133, 49, 1);}
.lnk_editar						    { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; color:#rgba(255,113,15, 1); }
.lnk_editar:hover				  { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; background-color:rgba(255,113,15, 1); color:#ffffff; }
.lnk_passchange					  { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; background-color:rgba(255,113,15, 1); color:#ffffff; }
.lnk_passchange:hover			{ border-color:rgba(255, 133, 49, 1); border-style:solid; border-width:1px; background-color:rgba(255, 133, 49, 1); color:#ffffff; }
.lnk_botonazul   			    { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; background-color:rgba(255,113,15, 1); color:#ffffff; }
.lnk_botonazul:hover		  { border-color:rgba(255, 133, 49, 1); border-style:solid; border-width:1px; background-color:rgba(255, 133, 49, 1); color:#ffffff; }

/* OPERADORES */
.lnk_editar_peq             { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; color:rgba(255,113,15, 1); }
.lnk_editar_peq:hover       { border-color:rgba(255,113,15, 1); border-style:solid; border-width:1px; background-color:rgba(255,113,15, 1); color:#ffffff; }

/* CIRCLES */
.fa-file:before             { content: "\f15c"; color:rgba(255, 133, 49, 1); }

/* FICHA USUARIO */
.color_ficha_usuarios     { color:rgba(255,113,15, 1); }