/* Capas LOGIN */
.body_login 	              { background-image:url('/images/fondo-login.jpg'); }
.logo_login 	              { background-image:url('/images/simbolo-livingsafe.png'); }

/* Botones y enlaces LOGIN */
.link_pielogin 			        { color:#ffffff; }
.link_pielogin:hover 	      { color:#ffffff; }
.login-btn 				          { background-color:#28518f; color:#FFFFFF !important; }
.login-btn:hover 		        { background-color:#54aae9; color:#FFFFFF !important; }
.btn_acceder                { color:#FFFFFF !important; }
.btn_acceder:hover          { color:#FFFFFF !important; }
.logo_login_pie 		        { background-image:url('/images/logos/logo_ultrawave_peq.png'); }
.logo_izq                   { background:url('/images/logos/logo_livingsafe.png') no-repeat; background-size:cover; }
.logo_dch                   { background:url('/images/logos/logo_ultrawave.png') no-repeat; background-size:cover; }

/* Botonera INTERIOR */
.botonera 				          { background-color:#28518f !important; color:#ffffff !important;}
.link_botonera 				      { color:#ffffff !important; background-color:#28518f !important;}
.link_botonera:hover	      { color:#ffffff !important; background-color:rgba(0, 0, 0, 0.1) !important;}
.link_editarperfil 			    { color:#ffffff !important; background-color:#28518f !important;}
.link_editarperfil:hover	  { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.2) !important;}
.link_logout				        { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.3) !important; }
.link_logout:hover			    { color:#f2f2f2 !important; background-color:rgba(0, 0, 0, 0.6) !important;}


/* Imagen INTERIOR */
.img_principal 	            { background-image:url('/images/imagen_interior.jpg'); }

/* Botonera responsive */
.navbar-nav                 { background-color:#28518f !important;}

/* Estilos interiores */
.txt_titulopagina 	        { color:#28518f; }
.txt_titulopagina_med 	    { color:#28518f; }
.lnk_newuser 		            { background-color:#28518f; color:#ffffff; }
.lnk_newuser:hover	        { background-color:#54aae9; color:#ffffff; }
.lnk_newuser_disabled       { background-color:#28518f; color:#ffffff !important; }
.cabecera_grid		          { border-bottom:2px solid #28518f; }
.franja_grid_par	          { background-color:#e1e1e1; }

/* ESTILOS NUEVO */
.txt_tituloseccion 		      { color:#28518f;}
.portada_seccion1		        { background-color:#28518f; }
.portada_seccion2			      { background-color:#28518f; }
.lnk_vermas				          { border-color:#28518f; border-style:solid; border-width:1px; color:#28518f; }
.lnk_vermas:hover			      { border-color:#28518f; border-style:solid; border-width:1px; background-color:#28518f; color:#ffffff; }
.lnk_vermasblanco			      { border-color:#ffffff; border-style:solid; border-width:1px; color:#ffffff; }
.lnk_vermasblanco:hover		  { border-color:#ffffff; border-style:solid; border-width:1px; background-color:#ffffff; color:#28518f; }
.boton_cuadro 				      { color:#ffffff; background-color:#28518f;}
.boton_cuadro:hover 	      { color:#ffffff; background-color:#54aae9;}
.lnk_editar				          { border-color:#28518f; border-style:solid; border-width:1px; color:#28518f; }
.lnk_editar:hover			      { border-color:#28518f; border-style:solid; border-width:1px; background-color:#28518f; color:#ffffff; }
.lnk_passchange				      { border-color:#28518f; border-style:solid; border-width:1px; background-color:#28518f; color:#ffffff; }
.lnk_passchange:hover	      { border-color:#54aae9; border-style:solid; border-width:1px; background-color:#54aae9; color:#ffffff; }
.lnk_botonazul   			      { border-color:#28518f; border-style:solid; border-width:1px; background-color:#28518f; color:#ffffff; }
.lnk_botonazul:hover		    { border-color:#54aae9; border-style:solid; border-width:1px; background-color:#54aae9; color:#ffffff; }

/* OPERADORES */
.lnk_editar_peq             { border-color:#28518f; border-style:solid; border-width:1px; color:#28518f; }
.lnk_editar_peq:hover       { border-color:#28518f; border-style:solid; border-width:1px; background-color:#28518f; color:#ffffff; }

/* CIRCLES */
.fa-file:before             { content: "\f15c"; color:#54aae9; }

/* FICHA USUARIO */
.color_ficha_usuarios     { color:#28518f; }