/* Capas LOGIN */
.body_login 	            { background-image:url('/images/fondo-login_verointernet.jpg'); }
.logo_login 	            { background-image:url('/images/logos/simbolo-livingsafe_verointernet.png'); background-size:contain; margin-bottom:15px; }

/* Botones y enlaces LOGIN */
.link_pielogin 			      { color:#ec3e75; }
.link_pielogin:hover 	    { color:#ec3e75; }
.login-btn 				        { background-color:#ec3e75; color:#ffd31b !important; }
.login-btn:hover 		      { background-color:#c42a5b; color:#ffd31b !important; }
.btn_acceder              { color:#FFFFFF !important; }
.btn_acceder:hover        { color:#FFFFFF !important; }
.logo_login_pie 		      { background-image:url('/images/logos/logo_verointernet_peq.png'); }
.logo_izq                 { background:url('/images/logos/logo_livingsafe.png') no-repeat; background-size:cover; }
.logo_dch                 { background:url('/images/logos/logo_verointernet.png') no-repeat; background-size:cover; }

/* Botonera INTERIOR */
.botonera 				        { background-color:#ffd31b !important; color:#ec3e75 !important;}
.link_botonera 				    { color:#ec3e75 !important; background-color:#ffd31b !important;}
.link_botonera:hover	    { color:#ec3e75 !important; background-color:rgba(0, 0, 0, 0.1) !important;}
.link_editarperfil 			  { color:#ec3e75 !important; background-color:#ffd31b !important;}
.link_editarperfil:hover	{ color:#ec3e75 !important; background-color:rgba(0, 0, 0, 0.2) !important;}
.link_logout				      { color:#ec3e75 !important; background-color:rgba(0, 0, 0, 0.3) !important; }
.link_logout:hover			  { color:#ec3e75 !important; background-color:rgba(0, 0, 0, 0.6) !important;}


/* Imagen INTERIOR */
.img_principal 	          { background-image:url('/images/imagen_interior_verointernet.jpg'); }

/* Botonera responsive */
.navbar-nav               { background-color:#ffd31b !important;}

/* Estilos interiores */
.txt_titulopagina 	      { color:#ec3e75; }
.txt_titulopagina_med 	  { color:#ec3e75; }
.lnk_newuser 		          { background-color:#ec3e75; color:#ffffff; }
.lnk_newuser:hover	      { background-color:#ffd31b; color:#ffffff; }
.lnk_newuser_disabled     { background-color:#ffd31b; color:#ec3e75 !important; }
.cabecera_grid		        { border-bottom:2px solid #ec3e75; }
.franja_grid_par	        { background-color:#e1e1e1; }

/* ESTILOS NUEVO */
.txt_tituloseccion 		    { color:#ec3e75;}
.portada_seccion1		      { background-color:#ec3e75; }
.portada_seccion2			    { background-color:#ffd31b; }
.lnk_vermas				        { border-color:#ec3e75; border-style:solid; border-width:1px; color:#ec3e75; }
.lnk_vermas:hover			    { border-color:#ec3e75; border-style:solid; border-width:1px; background-color:#ec3e75; color:#ffd31b; }
.lnk_vermasblanco			    { border-color:#ffffff; border-style:solid; border-width:1px; color:#ffffff; }
.lnk_vermasblanco:hover		{ border-color:#ffffff; border-style:solid; border-width:1px; background-color:#ffffff; color:#ec3e75; }
.boton_cuadro 				    { color:#ec3e75; background-color:#ffd31b;}
.boton_cuadro:hover 	    { color:#ec3e75; background-color:#fae9c1;}
.lnk_editar				        { border-color:#ec3e75; border-style:solid; border-width:1px; color:#ec3e75; }
.lnk_editar:hover			    { border-color:#ec3e75; border-style:solid; border-width:1px; background-color:#ec3e75; color:#ffd31b; }
.lnk_passchange				    { border-color:#ec3e75; border-style:solid; border-width:1px; background-color:#ec3e75; color:#ffd31b; }
.lnk_passchange:hover	    { border-color:#ffd31b; border-style:solid; border-width:1px; background-color:#ffd31b; color:#ec3e75; }
.lnk_botonazul   			    { border-color:#ec3e75; border-style:solid; border-width:1px; background-color:#ec3e75; color:#ffd31b; }
.lnk_botonazul:hover		  { border-color:#ffd31b; border-style:solid; border-width:1px; background-color:#ffd31b; color:#ec3e75; }

/* OPERADORES */
.lnk_editar_peq           { border-color:#ec3e75; border-style:solid; border-width:1px; color:#ec3e75; }
.lnk_editar_peq:hover     { border-color:#ec3e75; border-style:solid; border-width:1px; background-color:#ec3e75; color:#ffffff; }

/* CIRCLES */
.fa-file:before           { content: "\f15c"; color:#ffd31b; }

/* FICHA USUARIO */
.color_ficha_usuarios     { color:#ec3e75; }
